.skills {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.skills-container {
    height: 100%;
    background: #272727;
    width: 95%;
    border-radius: 20px;
    position: absolute;
    top: -24%;
    z-index: 2;
    display: flex;
    box-shadow: 0 5px 5px 0 rgba(39,39, 39, 0.5), 0 0 0 1px #747474;
    font-family: 'Work Sans', sans-serif;
}

.skills-col {
    width: 33.33%;
    max-height: 100%;
    text-align: center;
    padding: 0.5rem;
}

.faIcon {
    font-size: 5rem;
    margin: 1.5rem;
}

.languages, .tools {
    margin-top: 2rem;
}

.languages h4, .tools h4 {
    line-height: 2rem;
}

.languages h3, .tools h3 {
    letter-spacing: 0.2rem;
}

@media only screen and (max-width: 768px) {
    .skills {
        height: 67vh;
    }
}

@media only screen and (max-height: 1019px) {
    .skills {
        height: 65vh;
    }
}

@media only screen and (min-height: 1200px) {
    .skills-container {
        height: 85%;
        top: -15%;
    }
}

@media only screen and (max-width: 414px) {
    .skills-container {
        top: -10%;
    }

    .faIcon {
        font-size: 3rem;
    }

    .skills-container h2 {
        font-size: 1.1rem;
    }

    .languages h3, .tools h3 {
        letter-spacing: 0.01rem;
        font-size: 0.8rem;
    }

    .languages h4, .tools h4 {
        line-height: 1.2rem;
        font-size: 0.6rem;
    }

    .middot {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .skills {
        height: 75vh;
    }
}