.about-container {
    background: #eee;
}

.short-bio {
    display: flex;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
    padding: 6rem 1rem 10rem 1rem;
    height: 35vh;
    color: white;
    max-height: 100%;
    background: #272727;
}

.bio-pic {
    height: 100%;
    /* border-radius: 50%; */
    border-radius: 20px;
    margin-right: 1rem;
    /* filter: grayscale(100%); */
    border: 5px solid #d1e8e2;
}

.bio-content {
    /* border: 5px solid #d1e8e2; */
    border-radius: 20px;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    position: relative;
}

.bio-content h1 {
    text-align: center;
    margin-bottom: 1rem;
}