.about-container {
    background: #5d5c61;
    max-height: 110vh;
}

.short-bio {
    display: flex;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
    padding: 3rem 1rem 9rem 1rem;
    height: 35vh;
    color: white;
    max-height: 100%;
    background: #747474;
}

.bio-pic {
    height: 100%;
    /* border-radius: 50%; */
    border-radius: 20px;
    margin-right: 1rem;
    /* filter: grayscale(100%); */
    border: 5px solid white;
}

.bio-content {
    /* border: 5px solid #d1e8e2; */
    border-radius: 20px;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
}

.bio-content h1 {
    margin-bottom: 1rem;
}

.blend {
    width: 100%;
    height: 6rem;
    background: linear-gradient(#747474, #5d5c61);
}