.about-container {
    background: #5d5c61;
    max-height: 110vh;
    position: relative;
}

#bio-small-h1 {
    display: none;
}

.short-bio {
    display: flex;
    flex-direction: row;
    font-family: 'Work Sans', sans-serif;
    padding: 3rem 1rem 3rem 1rem;
    height: fit-content;
    width: fit-content;
    color: white;
    /* max-height: 100%; */
    background: #747474;
}

.tag {
    font-size: 3rem;
}

.bio-pic {
    width: 25vw;
    height: calc(25vw / 0.75);
    /* border-radius: 50%; */
    border-radius: 20px;
    margin-right: 1rem;
    /* filter: grayscale(100%); */
    border: 5px solid white;
}

.bio-content {
    /* border: 5px solid #d1e8e2; */
    border-radius: 20px;
    max-height: 100%;
    padding: 0 1rem;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
}

.bio-content h1 {
    margin-bottom: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}

.blend {
    width: 100%;
    height: 6rem;
    background: linear-gradient(#747474, #5d5c61);
    /* position: relative; */
}

@media only screen and (width: 1024px) and (height: 1366px) {
    .short-bio {
        flex-direction: column;
    }

    .bio-pic {
        margin: 0 auto;
        height: auto;
        width: 30%;
        border-radius: 50%;
    }

    .bio-content h1 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .tag {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .short-bio {
        flex-direction: column;
    }

    .bio-pic {
        margin: 0 auto;
        height: auto;
        width: 30%;
        border-radius: 50%;
    }

    .bio-content h1 {
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    .tag {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 428px) {
    .short-bio {
        flex-direction: column;
    }

    .bio-pic {
        margin: 0 auto;
        height: auto;
        width: 50%;
        border-radius: 50%;
    }

    .bio-content h1 {
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .tag {
        font-size: 1.1rem;
    }

    .about-container {
        height: 150vh;
    }
}

@media only screen and (max-width: 390px) {
    .bio-content h1 {
        display: none;
    }

    #bio-small-h1 {
        display: block;
        margin-bottom: 1rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.8rem;
    }

    .tag {
        font-size: 2.65rem;
    }
}

@media only screen and (max-height: 1005px) {
    .bio-content p {
        font-size: 1.7rem;
    }
}