.contact {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    display: flex;
}

.aside {
    width: 30%;
    background: #557a95;
    position: relative;
}

.aside h3 {
    color: white;
    height: 36%;
    position: absolute;
    /* border: 1px solid white; */
    top: 32%;
    width: 90%;
    padding: 0 5%;
}

#contact-header {
    color: white;
    text-align: center;
    font-size: 2em;
}

#form-h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 3rem;
}

.contact-form-container {
    width: 40%;
    margin: 8rem auto 2rem auto;
    background: #7395ae;
    padding: 2rem 5%;
    border-radius: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: #272727;
}

.label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

#name-email {
    display: flex;
    flex-direction: column;
}

#name, #email {
    padding: 0.4rem 1rem;
}

#message-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

.contact-form label {
    margin-bottom: 0.3rem;
}

.contact-form input {
    border-radius: 999px;
    border: 2px solid #272727;
    font-family: 'Work Sans', sans-serif;
    outline: none;
    font-size: 1.1rem;
    background-color: rgba(250,250,250,0.5);
}

#message {
    height: 30vh;
    border-radius: 20px;
    outline: none;
    padding: 1rem;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid #272727;
    font-size: 1.1rem;
    background-color: rgba(250,250,250,0.5);
}

#contact-btn {
    padding: 1rem;
    width: 30%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #272727;
    border-color: #272727;
    background: transparent;
    transition: 0.2s ease-in-out;
}

#contact-btn:hover {
    color: white;
    background-color: #272727;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .aside h3 {
        color: white;
        height: 64%;
        position: absolute;
        top: 16%;
        width: 90%;
        padding: 0 5%;
    }
}

@media only screen and (max-width: 414px) {
    .contact {
        flex-direction: column;
    }

    .aside {
        width: 100%;
        height: 26vh;
    }

    .aside h3 {
        color: white;
        width: 90%;
        position: absolute;
        top: 0;
        height: 100%;
        padding: 0 5%;
    }

    #form-h3 {
        font-size: 1rem;
    }

    .contact-form-container {
        width: 80%;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 375px) {
    #form-h3 {
        font-size: 0.7rem;
    }

    .aside {
        height: 22vh;
    }
}

@media only screen and (min-height: 1366px) {
    .aside {
        height: 90vh;
    }
}