.header-container {
    height: 70vh;
    text-align: center;
    position: relative;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39,39,39,0.93);
    display: table;
    z-index: 0;
}

.typing-comp {
    display: table-cell;
    vertical-align: middle;
}

.welcome {
    line-height: 6rem;
    font-size: 6rem;
    letter-spacing: 0.25rem;
    color: #d1e8e2;
    font-weight: 1000;
    /* font-family: 'Nerko One', cursive; */
    font-family: 'Quicksand', sans-serif;
}

.header-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: blur(20px);
}

.circle {
    border-radius: 50%;
    position: absolute;
    animation: expand ease-in-out 5s infinite alternate;
}

@keyframes expand {
    0% {
        transform: scale(1.0)
    }
    100% {
        transform: scale(1.2)
    }
}

.circle1 {
    height: 50rem;
    width: 50rem;
    background: #ff652f;
    left: -20%;
    top: -10%;
}

.circle2 {
    height: 40rem;
    width: 40rem;
    background: #ffe400;
    left: 60%;
    bottom: -10%;
}

.circle3 {
    height: 55rem;
    width: 55rem;
    background: #14a76c;
    left: 10%;
    top: -50%;
}

.circle4 {
    height: 45rem;
    width: 45rem;
    background: #ff652f;
    right: -30%;
    top: -50%;
}

.circle5 {
    height: 30rem;
    width: 30rem;
    background: #14a76c;
    right: 30%;
    bottom: -50%;
}

.circle6 {
    height: 30rem;
    width: 30rem;
    background: #ffe400;
    left: 7%;
    bottom: 6%;
}

.circle7 {
    height: 15rem;
    width: 15rem;
    background: #ff652f;
    right: 25%;
    bottom: 8%;
}

.blend {
    background: #747474;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: -10%;
    left: 0;
    z-index: 5
}