.header-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39,39,39,0.93);
    display: table;
    z-index: 0;
}

.typing-comp {
    display: table-cell;
    vertical-align: middle;
}

.welcome {
    font-size: 12vw;
    letter-spacing: 0.25rem;
    color: white;
    font-weight: 1000;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}

.header-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url("../../media//backgroundimg.jpg");
    background-position: center;
    filter: grayscale(100%) blur(2px)
}

.subheader {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1rem;
    line-height: 3rem;
    color: #aaabb8;
    text-align: center;
}

.subheader h1 {
    font-size: 3vw;
    font-weight: 500;
}

.subheader h2 {
    font-size: 2vw;
    font-weight: 500;
}

#logo {
    width: 40%;
    margin-top: 1rem;
    opacity: 0;
    animation-delay: 4s;
    animation-name: reveal;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes reveal {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
};

@media only screen and (max-width: 780px) {
    .subheader {
        line-height: 3rem;
    }
    
    .subheader h1 {
        font-size: 2rem;
        font-weight: 500;
    }
    
    .subheader h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .tag {
        font-size: 2.2rem;
    }

    .welcome {
        font-size: 5.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .subheader {
        line-height: 3rem;
    }
    
    .subheader h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .subheader h2 {
        font-size: 1rem;
        font-weight: 500;
    }
    
    .tag {
        font-size: 1.5rem;
    }

    .welcome {
        font-size: 4.2rem;
    }

    .header-content {
        background-color: rgba(39,39,39,0.85);
    }
}

@media only screen and (max-width: 414px) {
    .subheader {
        line-height: 2.5rem;
    }
    
    .subheader h1 {
        font-size: 1.4rem;
        font-weight: 500;
    }
    
    .subheader h2 {
        font-size: 0.8rem;
        font-weight: 500;
    }
    
    .tag {
        font-size: 1.2rem;
    }

    .welcome {
        font-size: 3.9rem;
        letter-spacing: 0.01rem;
    }

    .header-content {
        background-color: rgba(39,39,39,0.85);
    }
}