.regular-navbar {
    height: 4rem;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 3;
    transition-timing-function: ease-in;
    transition: all 0.6s;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    overflow: hidden;
}

.regular-navbar a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #b1a296;
    text-decoration: none;
}

.nav-grey a:hover {
    color: #def2f1;
    text-decoration: none;
}


.nav-grey {
    background-color: #aaabb8;
    color: #272727;
}

.nav-grey a {
    color: #272727;
}

.nav-right, .nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-right: 30px;
}

.nav-left {
    margin: 0 30px;
}

.nav-option {
    margin: 0 10px;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 529px) {
    .last {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .mobile-nav {
        display: block;
        width: 100%;
        height: 2.4rem;
        font-family: 'Josefin Sans', sans-serif;
        position: fixed;
        bottom: 0;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: #aaabb8;
    }

    .mobile-nav-option {
        padding: 0.22rem 0.2rem;
        text-align: center;
        font-size: 0.6rem;
    }

    .mobile-icon {
        font-size: 1rem;
        margin: 0.2rem 0;
    }

    .mobile-nav a {
        text-decoration: none;
        color: white;
    }

    .navbar-container {
        bottom: 0;
    }

    .regular-navbar, .nav-grey {
        display: none;
    }
}