.footer {
    background: #aaabb8;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #557a95;
    position: relative;
}

#react-logo {
    height: 1.5rem;
}

.contact-icon {
    font-size: 2.5rem;
    margin: 0 2rem;
    color: #557a95;
    border: 2px solid #557a95;
    padding: 0.5rem;
    border-radius: 50%;
}

.contact-info {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

#linkedin-icon {
    padding: 0.5rem 0.7rem;
}

.contact-icon:hover, .contact-links:hover {
    transform: scale(1.2) !important;
    cursor: pointer;
}

.thankyou {
    width: 80%;
    background: #739a95;
    padding: 1rem;
    border-radius: 20px;
    position: absolute;
    top: -22%;
    left: 10%;
    color: white;
    line-height: 2rem;
}

@media only screen and (max-width: 768px) {
    .thankyou {
        font-size: 0.6rem;
        width: 80%;
        left: 10%;
    }
}

@media only screen and (min-height: 1366px) {
    .thankyou {
        font-size: 0.6rem;
        width: 80%;
        left: 10%;
    }
}

@media only screen and (max-width: 414px) {
    .thankyou {
        font-size: 0.3rem;
        width: 90%;
        left: 1%;
        line-height: 1rem;
        top:-12%;
    }

    #react-logo {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 375px) {
    .contact-icon {
        margin: 0 1rem;
    }

    .thankyou {
        width: 90%;
        left: 0.7%;
    }
}

@media only screen and (min-width: 2000px) {
    .thankyou {
        top: -13%;
    }
}