.slider-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin: 3rem 0 0 0;
    height: 40vh;
    /* border: 1px solid red; */
    font-size: 1.3rem;
}

.slider-img {
    width: 60%;
    height: 90%;
    border-radius: 20px;
    border: 8px solid #7395ae;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 5%;
    left: 20%;
}

.slide-img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    opacity: 1;
    position: relative;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 90%;
    background-color: rgba(36,36,36,0.95);
    border-radius: 20px;
    padding: 0.5rem;
    font-family: 'Work Sans', sans-serif;
    transition: 0.5s ease-in-out;
    font-size: 1.14rem;
}

.slider-info {
    margin: 3rem 0;
    margin-bottom: 6rem !important;
}

.slider-container h3 {
    margin-top: 1rem;
}

.slider-container p {
    padding: 1rem;
}

.arrows {
    width: 5rem;
    position: absolute;
    top: 45%;
    font-size: 4rem;
    transition: 0.2s ease-in-out;
    z-index: 3;
}

.arrows:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

.material-icon {
    font-size: 3rem !important;
    margin: 1rem auto !important;
    color: white;
}

.material-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: white;
}

.material-links {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    text-align: center;
    font-size: 1.1rem;
}

.material-links:hover {
    color: white;
}

.info-link:hover {
    color: white;
}

@media only screen and (max-width: 414px) {
    .slider-info {
        font-size: 1rem;
        margin-top: 5rem;
    }

    .material-links {
        font-size: 0.6rem;
    }

    #arrow-right {
        right: 30% !important;
    }

    #arrow-left {
        left: 30% !important;
    }

    .arrows {
        font-size: 3rem;
        top: 100%;
    }

    .slider-img {
        top: 15%;
        left: 3%;
        width: 90%;
        height: 70%;
    }

    .overlay {
        top: 15%;
        left: 3%;
        width: 90%;
        height: 70%;
        font-size: 0.5rem;
    }

    .slider-container {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .slider-img {
        width: 50%;
        left: 25%;
        top: 0;
    }
    .overlay {
        width: 50%;
        left: 25%;
        top: 0;
    }
}

@media only screen and (min-width: 1500px) {
    .slider-img {
        width: 40%;
        left: 30%;
        top: 0;
    }

    .overlay {
        width: 40%;
        left: 30%;
        top: 0;
    }
}

@media only screen and (min-width: 2000px) {
    .slider-img {
        width: 32%;
        left: 34%;
        height: 42vh;
    }

    .overlay {
        width: 32%;
        left: 34%;
        height: 42vh;
    }

    .slider-info {
        margin-top: 8rem;
    }
}